*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Poppins', sans-serif;
}
.hero{
    background: linear-gradient(#3f0e0e12,#320505c7), url(background.png);
    height: 100vh;
    width: 100%;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

}
.logo{
    width: 110px;
    cursor: pointer;

}

nav ul{
    flex: 1;
    text-align: right;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;

}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: .3s all;

}
nav ul li a:hover{
    color: #ff5361;
}


.uoload-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding:10px 40px;
    border-radius: 30px;
    margin-left: 25px;
    transition: transform.3s;

}

.uoload-btn:hover{
    transform: scale(0.9);
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}
.content h1{
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
   text-shadow: 3px 3px 9px black;
   letter-spacing: 2px;
}

.content input{
    width: 90%;
    max-width: 650px;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin: 20px 0;
    font-size: 16px;
    padding: 0px 30px;


}
::placeholder{
    font-weight: 500px;
    font-size: 15px;
   
}
.content a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .2s all;
}
.content a:hover{
    color: #ff5361;
    text-decoration: underline;
}

.gallary{
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: 40px 0;
}
.gallary h2{
    color: #535353;
    font-weight: 500;
    font-size: 26px;
    margin: 20px 12px;


}

.masonary{
    display: flex;
    flex-flow: column wrap;
    max-height: 1730px;
    margin: auto;
    width: 100%;


}
.m-block{
    width: 33.33%;
    padding: 13px;
    box-sizing: border-box;


}
.m-block img{
    width: 100%;
    cursor: pointer;
    transition: transform .5s;


}

.m-block img:hover{
    transform: scale(1.05);
}
.explore-btn{
    display: block;
    width: 50%;
    max-width: 350px;
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 14px 0;
    border-radius: 30px;
    margin: 60px auto;
    font-size: 18px;
    transition: transform .4s;

}
.explore-btn:hover{
    transform: scale(0.9);

}

.customers{

    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: 80px 0;
}
.customers h2{

    color: #535353;
    font-size: 30px;
    margin: 60px 0;
    font-weight: 500;
    text-align: center;

}

.customers-row{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.customer-col{
    flex-basis: 25%;
    text-align: center;

}

.customer-col img{
    width: 90%;
    cursor: pointer;
    transition: .4s;
    box-shadow: 4px 4px 10px black;

}
.customer-col img:hover{
    transform:translateY(-10px);


}

.about{

    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    margin: 120px 0;
}
.about h2{
    color: #08cf8d;
    font-size: 30px;
    font-weight: 500;
    margin: 60px 0;
    text-align: center;

}
span{
    color: rgb(221, 5, 5);
    font-weight: 700;
    font-size: 40px;
}
.about p{
    color: #535353;
    font-size: 17px;
    line-height: 30px;

}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: #ebebeb;
    color: #535353;
    font-size: 17px;
    
}